/*Blank CSS*/
.inner-pages .checkboxes label{
	font-size: 12px;
	padding-right: 0;
	padding-left: 28px;
}

.property_ttl {
	max-width: 82% !important;
}

.inner-pages .about_us_bg.headings{
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 27, 34, 0.6)), to(rgba(18, 27, 34, 0.6))), url(../images/bg/about.png) no-repeat center center;
  background: linear-gradient(rgba(18, 27, 34, 0.6), rgba(18, 27, 34, 0.6)), url(../images/bg/about.png) no-repeat center center;
  width: 100%;
  height: 30vh;
}
.inner-pages .contact_us_bg.headings {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 27, 34, 0.6)), to(rgba(18, 27, 34, 0.6))), url(../images/bg/contact.png) no-repeat center center;
  background: linear-gradient(rgba(18, 27, 34, 0.6), rgba(18, 27, 34, 0.6)), url(../images/bg/contact.png) no-repeat center center;
  width: 100%;
  height: 30vh;
}

.inner-pages .faq_bg.headings {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 27, 34, 0.6)), to(rgba(18, 27, 34, 0.6))), url(../images/bg/faq.png) no-repeat center center;
  background: linear-gradient(rgba(18, 27, 34, 0.6), rgba(18, 27, 34, 0.6)), url(../images/bg/faq.png) no-repeat center center;
  width: 100%;
  height: 30vh;
}
.xl_blog_desc {
	all: revert;
}
.news-item {
	height: 100%;
}
#btn_subscribeEmail {
	background: #FF385C;
	margin-top: 0px;
	border: 1px solid #FF385C;
	color: #fff;
	padding: .8rem;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	transition: all .5s ease;

}

#header-container {
	position: absolute;
	width: 100%;
	z-index: 9;
	color: #fff;
}
#header {
	position: relative;
	z-index: 999;
	padding: 5px 0 110px 0;
}

@media screen and (max-width: 1200px){

	.pr_custom{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	ul.sub-menu.col-purple.mm-listview a {
    width: 100%;
}
	.inner-pages .headings h1 {
    margin-top: 9.5rem;
   }
   .sub-menu li.menu-list a{
    white-space: pre-wrap !important;
    color: white !important;
 }
.mm-panels ul.sub-menu li.menu-list a::before{
	background-color: white !important;
}
	.menu-list {
		flex-direction: column;
		display: flex !important;
		padding-left: 15px !important;
	}



	.menu-list a{
		flex-direction: column;
		display: flex !important;
		color: white !important;
	}

	nav.mm-opened ~ .mm-slideout .mmenu-trigger {
		position: fixed !important;
		left: 0;
		top: 0;
		height: auto;
		padding: 8px;
		width: 50px;
	}

	#header {
		position: relative;
		z-index: 999;
		padding: 37px 0 120px 0;
	}

	.header-user-menu.link{
		width: 60%;
		top: 0;
		text-align: center;
	}
	.container.container-header .left-side {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		width: 100%;
		align-items: center;
	}
	#logo {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		position: relative;
		width: 20%;
	}

	.triger-div{
		width: 20%;
		order: 3;
		text-align: right;
	}
	.mmenu-trigger {
		height: auto;
		padding: 8px;
		width: 50px;

	}
	.header-user-menu.link.mt-3.d-block.d-md-none {
		width: 50%;
		display: flex !important;
		align-items: center;
		justify-content: center;
		/*! background-color: red; */
		/*! max-width: fit-content; */

		/*! height: auto; */
		/*! padding: 38px; */
		background: unset;
		padding: 0px !important;
		order: 2;
		align-self: baseline;
	}
	.header-user-name a {
		font-size: 20px;
	}
	.header-user-name {
		padding: 0;
	}
	#logo img {
		width: 60px !important;
	}
	.hamburger.hamburger--collapse {
		top: 0;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 34;
height: 100%;
width: 100%;
}

.header-user-menu.link.d-block.d-lg-none{
	width: 50%;
	align-self: center !important;
	top: unset;
}
.header-user-name{
	float: unset;
}
}

@media screen and (max-width: 1024px) {
	.header-user-name a {
		font-size: 12px;
	}
	.mm-menu li img {
		margin: 0px 0px 0px 20px;
	}
	.mmenu-trigger {
		padding: 8px 8px 8px 8px;
	}
	#header .header-user-name {
		padding-top: 6px !important;
	}
}
@media screen and (max-width: 576px) {

	.welcome-text h1 {
		font-size: 20px !important;
		line-height: 36px !important;
		max-width: 92% !important;
	}
}

@media screen and (max-width: 768px) {
	.listing .banner-search-wrap {
    padding: 0px 15px;
}

.listing .banner-search-wrap .rld-main-search{
	margin-right: 0;
}
	.listing-title-bar h1 {
    font-size: 28px;
}
	h2 {
		font-size: 1rem;
	}
}


.header-user-menu {
	margin-right: 0px;
}
.header-user-name {
	padding-top: 11px !important;
}
#logo img {
	width: 90px;
}
#navigation ul a {
	display: block;
	color: #fff;
	text-decoration: none;
}


.video_banner{
	filter: brightness(0.6);

}

.agents #header, .sin-1 #header {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.family-section {
	padding: 50px 0;
}
.family-image {
	max-width: 100%;
}

.dark-overlay .main-search-inner {
	bottom: 480px !important;
}

.heading_american:after{
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.rounded-4{
	border-radius: 25px;
}

.img-center {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	filter: brightness(0.6);
}

.recent-title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 4px;
	line-height: 1.2;
}

.recent-price {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}

.listing-item.compact.thehp-2 .listing-badges span {
	width: 80px !important;
	background: none !important;
	border: 1px solid;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-image: linear-gradient(45deg, #8A2BE2, #87CEEB) 1;
}

.nice-select .list {
	max-height: 400px !important;
	overflow-y: auto !important;
	scrollbar-width: thin;
	scrollbar-color: #888 #f1f1f1;
}

/*.link a {
	border: 1px solid !important;
	border-image-source: linear-gradient(90deg, orange, red) !important;
	border-image-slice: 1 !important;
	padding: 10px;
}*/

nav#navigation #responsive > li > a {
	min-height: 52.4px !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.link a {
	display: inline-block;
	padding: 12.2px 20px;
	text-decoration: none;
	border-radius: 10px;
	background: transparent;
	border: 3px solid transparent;
	position: relative;
	overflow: hidden;
}

.link a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	background: linear-gradient(90deg, orange, red) !important;
	z-index: -1;
	padding: 3px;
	-webkit-mask:
	linear-gradient(#fff 0 0) content-box,
	linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.link a:hover {
	color: #FF385C;
}
/*div#header {
    background-color: #ffffff91;
}*/
nav#navigation #responsive > li > a {
	display: inline-block;
/*    padding: 10px 20px;*/
text-decoration: none;
border-radius: 10px;
background: transparent;
position: relative;
width: 156px;
}

nav#navigation.inner-pages.homepage-4 #navigation.style-1 ul li:hover{
	border-radius: 10px;
}

nav#navigation li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#navigation.style-1 ul li img {
	margin-bottom: 2px;
}
nav#navigation li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	z-index: -1;
	padding: 3px;
	-webkit-mask:
	linear-gradient(#fff 0 0) content-box,
	linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

nav#navigation #responsive > li.m-purple > a::before {
	background: linear-gradient(90deg, #e5228b, #57089e) !important;
}
nav#navigation #responsive > li.m-sky > a::before {
	background: linear-gradient(90deg, #46f5ca, #4e9ae6) !important;
}
nav#navigation #responsive > li.m-red > a::before {
	background: linear-gradient(90deg, #f1a81d, #e61e36) !important;
}
nav#navigation #responsive > li.m-pblue > a::before {
	background: linear-gradient(90deg, #28ddfd, #d630e4) !important;
}
nav#navigation #responsive > li.m-gblue > a::before {
	background: linear-gradient(90deg, #b0e547, #65acf1) !important;
}
nav#navigation #responsive > li.m-golden > a::before {
	background: linear-gradient(90deg, #743187, #f2d00c) !important;
}
nav#navigation #responsive > li.m-orange > a::before {
	background: linear-gradient(90deg, #d8386c, #ef8234) !important;
}



nav#navigation #responsive > li.m-purple > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #e5228b, #57089e) !important;
}
nav#navigation #responsive > li.m-sky > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #46f5ca, #4e9ae6) !important;
}
nav#navigation #responsive > li.m-red > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #f1a81d, #e61e36) !important;
}
nav#navigation #responsive > li.m-pblue > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #28ddfd, #d630e4) !important;
}
nav#navigation #responsive > li.m-gblue > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #b0e547, #65acf1) !important;
}
nav#navigation #responsive > li.m-golden > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #743187, #f2d00c) !important;
}
nav#navigation #responsive > li.m-orange > a {
	color: #ffffff !important;
	background: linear-gradient(90deg, #d8386c, #ef8234) !important;
}


nav#navigation #responsive > li.m-purple:hover > a ,nav#navigation #responsive > li.m-purple:hover > a::before{
	color: #ffffff !important;
	background: linear-gradient(90deg, #57089e , #e5228b) !important;
}
nav#navigation #responsive > li.m-sky:hover > a ,nav#navigation #responsive > li.m-sky:hover > a::before {
	color: #ffffff !important;
	background: linear-gradient(90deg, #4e9ae6 , #46f5ca) !important;
}
nav#navigation #responsive > li.m-red:hover > a  ,nav#navigation #responsive > li.m-red:hover > a::before{
	color: #ffffff !important;
	background: linear-gradient(90deg, #e61e36 , #f1a81d) !important;
}
nav#navigation #responsive > li.m-pblue:hover > a ,nav#navigation #responsive > li.m-pblue:hover > a::before {
	color: #ffffff !important;
	background: linear-gradient(90deg, #d630e4 , #28ddfd) !important;
}
nav#navigation #responsive > li.m-gblue:hover > a ,nav#navigation #responsive > li.m-gblue:hover > a::before{
	color: #ffffff !important;
	background: linear-gradient(90deg, #65acf1 , #b0e547) !important;
}
nav#navigation #responsive > li.m-golden:hover > a ,nav#navigation #responsive > li.m-golden:hover > a::before{
	color: #ffffff !important;
	background: linear-gradient(90deg,  #f2d00c , #743187) !important;
}
nav#navigation #responsive > li.m-orange:hover > a ,nav#navigation #responsive > li.m-orange:hover > a::before{
	color: #ffffff !important;
	background: linear-gradient(90deg, #ef8234 , #d8386c) !important;
}
nav#navigation .dropdown-toggle::after{
	vertical-align: unset !important;
}

nav#navigation #responsive  li ul.sub-menu li{
	padding: 5px;
}

nav#navigation #responsive  li ul.sub-menu{
	padding: 5px;
	width: 300px;
}
nav#navigation #responsive  li ul.sub-menu span{
	padding: 10px;
}

nav#navigation #responsive  li ul.sub-menu a:hover{
	background: unset !important;
}

nav#navigation #responsive li ul.sub-menu li a{
	width: 100%;
	line-height: 1.2 !important;
}
.sub-menu .menu-list a {
	width: 100%;
	padding-left: 10px;
	position: relative !important;
	color: black !important;
}
#header .sub-menu a {
	color: black !important;
}

.menu-list a::before {
	content: "" !important;
	background-color: black;
	width: 3px !important;
	height: 3px !important;
	border-radius: 50%;
	position: absolute !important;
	top: 50% !important;
	transform: translateY(-50%) !important;
	z-index: 9 !important;
	left: 0;
}

.post_title {
	line-height: 1.2 !important;
	padding-bottom: 8px;
	font-size: 14px;
}

.menu-list {
	width: 100%;
	padding-top: 5px;
}

#header ul.sub-menu.col-purple a:hover, #header ul.sub-menu.col-purple a:hover strong {
	color: #710d9a !important;
}
ul.sub-menu.col-purple .menu-list a::before ,ul.sub-menu.col-purple .menu-list a:hover::before {
	background-color: #710d9a !important;
}

#header ul.sub-menu.col-blue a:hover, #header ul.sub-menu.col-blue a:hover strong {
	color: #48e0d1 !important;
}
ul.sub-menu.col-blue .menu-list a::before ,ul.sub-menu.col-blue .menu-list a:hover::before {
	background-color: #48e0d1 !important;
}



nav#navigation #responsive li ul.sub-menu li strong {
	font-size: 14px;
	letter-spacing: 0.4px !important;
}

li.more-p li {
	padding: 10px !important;
}
#logo{
	margin-right: 0px !important;
}

.nice-select .list::-webkit-scrollbar {
	width: 8px;
}

.nice-select .list::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

.nice-select .list::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.nice-select .list::-webkit-scrollbar-thumb:hover {
	background: #555;

}


.swiper-container .swiper-slide {
	height: 400px;
}

.swiper-container .img-fluid {
	height: 100% !important;
	object-fit: cover;
	width: 100%;
}


.video_banner {
	margin-top: 38px;
}
.wprt-image-video{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#playBtn {
	background: #0f1341 none repeat scroll 0 0;
	border-radius: 100%;
	color: #03a9f5;
	font-size: 30px;
	height: 70px;
	left: 50%;
	line-height: 70px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 70px;
	z-index: 9;
}
.modal-dialog.modal-dialog-centered {
	max-width: 56%;
}
.modal-content {
	position: relative;
}
.close-btn {
	position: absolute;
	top: -33px;
	right: 0px;
	font-size: 29px;
	color: #fff;
	cursor: pointer;
	z-index: 10;
}
@media screen and (max-width: 712px){
	.modal-dialog.modal-dialog-centered {
		max-width: 95%;
	}

}

.input-group-text {
	border-radius: 8px;
	border: 1px solid;
	border-image: linear-gradient(45deg, #8A2BE2, #87CEEB) 1;
	background: #f8f9fa;
}

.calc-table-container {
	border-radius: 1rem;
	transition: transform 0.3s ease;
}
.custom-table {
	border-collapse: separate;
	border-spacing: 0; /* Ensures spacing doesn't break borders */
	width: 100%;
}
.custom-table td{
	border: 1px solid;
}

.dark-overlay h1 {
	font-size: 50px;
/*  color: #fff;*/
color: #D51E4C;
line-height: 57px;
text-transform: capitalize;
text-align: center;
max-width: 64%;
}

.temp_table thead tr,
.custom-table th {
	position: relative;
	text-align: center;
	background: white;
	padding: 10px;
	border: 1px solid ;
	border-image-source: linear-gradient(90deg, orange, red);
	border-image-slice: 1;
}

.custom-table thead th {
	background: #f8f9fa; /* Slightly different background for header */
}



.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.overlay-text h1 {
	font-size: 36px;
	font-weight: bold;
	color: #48c5f6;
}

.overlay-text h2 {
	font-size: 24px;
	color: #fff;
}

.neon-border {
	border: 1px solid;
	border-collapse: unset;
	border-spacing: 0px;
}


.img-responsive {
	aspect-ratio: 4/3;
}

.news-item.news-item-sm {
	height: 100%;
}

.select2-container {
	width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
	background-color: white !important;
	border: 1px solid #dddddd !important;
	border-radius: .25rem !important;
	cursor: text !important;
}
#contact_form .nice-select {
	display: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	padding: 0 10px !important;
}
.title {
	display: flex;
	justify-content: space-between;
}

.inner-pages .about-us h2::after {
	display: block;
	height: 3px;
	font-weight: bold;
	background-color: #ffffff;
	content: " ";
	width: 97px;
	margin-top: .5rem;
	margin-bottom: 1.5rem;
}
.inner-pages .about-us .who-1 p {
	color: #000 !important;
}
.h5, h5 {
	font-size: 2rem;
}
.xl_custom_color h5 {
	color: #000;
}
.xlcolorbloack {
	color: #000;
}
hr {
	margin-top: 2rem !important;
}

.news-item-img img {
	height: 230px;
	width: 100%;
	object-fit: cover !important;
}

.bradius {
	border-radius: 8px;
}

.title_color {
	color: #D51E4C !important;
}

.news-link {
	color: #D51E4C !important;
}

.first-footer {
	border-top: 1px solid #ddd !important;
}

.portfolio .project-head::before {
	z-index: 0 !important;
}

.slick_featured .listing-hidden-content {
	font-size: 12px !important;
}

.single.detail-wrapper {
	margin-left: 0rem;
}




/* Mega Menu Styles */
.mega-menu {
	width: 100%;
	left: 0;
	right: 0;
	padding: 20px 0;
	display: none;
	position: absolute;
	z-index: 999;
}

#navbarDropdown.dropdown-toggle::after {
	border: 0px !important;
}


.nav-item:hover .mega-menu {
	display: block;
	min-width: 1000px !important;
}

.mega-menu .container {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.mega-menu .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mega-menu .col-md-2 {
	padding: 10px 20px;
}

.mega-menu h5 {
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: bold;
}

.mega-menu ul {
	list-style: none;
	padding: 0;
}

.mega-menu ul li {
	padding: 8px 0;
	font-size: 14px;
}

.mega-menu ul li i {
	margin-right: 8px;
	font-size: 16px;
}

/* Hover Effect for Items */
.mega-menu ul li:hover {
	background-color: #f8f9fa;
	cursor: pointer;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
	.pr_custom > div {
  margin-top: 0 !important;
}
	.mega-menu .row {
		flex-direction: column;
	}

	.mega-menu .col-md-2 {
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) {
	.dropdown-menu.mega-menu .row {
	}
}

@media (max-width: 480px) {
	footer .mailchimp {
    width: 100% !important;
}

footer .mailchimp .email {
    flex-wrap: wrap;
}

footer .mailchimp .email input ,footer .mailchimp .email button{
    width: 100%;
}
}
@media (max-width: 352px) {
	.inner-pages .pr_custom .checkboxes label {
  font-size: 10px;
  }
}

@media (max-width: 1560px) and (min-width: 1400px){
	.left-side {
		width: 1150px;
	}
	.link a {
		padding: 10.2px 9px;
		font-size: 16
		px;
	}
	nav#navigation #responsive > li > a {
		width: 130px;
	}
	#navigation.style-1 ul a {
		font-size: 13px;
	}

}


@media (max-width: 1399px) and (min-width: 1201px){
	.left-side {
		width: 1000px;
	}
	.link a {
		padding: 10.2px 9px;
		font-size: 14px;
	}
	nav#navigation #responsive > li > a {
		width: 114px;
	}
	#navigation.style-1 ul a {
		font-size: 13px;
	}

}


ul:not(:has(li)) {
	display: none;
}
ul:empty {
	display: none;
}